---
hide:
  - navigation
  - toc
---
{% macro show_meta(meta) %}
{% for name, info in meta.items() %}
<p>{{ name }}
🎚️ {% if info.cfgScale[0] != info.cfgScale[1] %}{{ info.cfgScale[0] }}-{{ info.cfgScale[1] }}{% else %}{{ info.cfgScale[0] }}{% endif %}
👣 {% if info.steps[0] != info.steps[1] %}{{ info.steps[0] }}-{{ info.steps[1] }}{% else %}{{ info.steps[0] }}{% endif %}
</p>
{% endfor %}
{% endmacro %}

<table>
{% for model in models %}{% if model.type == "Checkpoint" %}
    <tr>
        <td><a href="{{ model.type }}/model-{{ model.id}}.html">{{ model.name }}</a></td>
        <td>
        {% for mv in model.modelVersions %}{% if mv._exists %}
        <b>{{ mv.name }}</b> {{ mv.baseModel }} — {{ mv.baseModelType}}
        <br>{{ show_meta(mv.get_meta()) }}
        {% endif %}{% endfor %}
        </td>
    </tr>
{% endif %}{% endfor %}
</table>
